$icomoon-font-family: "hamid" !default;
$icomoon-font-path: "fonts" !default;

$icon-invision: "\e913";
$icon-materialui: "\e912";
$icon-bootstrap: "\e900";
$icon-logo-vue: "\e901";
$icon-git: "\e902";
$icon-android-studio: "\e903";
$icon-android-fill: "\e904";
$icon-adobe-illustrator: "\e905";
$icon-jira: "\e906";
$icon-adobe-photoshop: "\e907";
$icon-sketch: "\e908";
$icon-figma: "\e909";
$icon-typescript: "\e90a";
$icon-logo-sass: "\e90b";
$icon-logo-nodejs: "\e90c";
$icon-php: "\e90d";
$icon-symfony: "\e90e";
$icon-javascript: "\e90f";
$icon-logo-angular: "\e910";
$icon-logo-react: "\e911";

